Погодозависимый регулятор.json
[{"id":"b53e947a.0db5f","type":"tab","label":"Погодозависимый регулятор","disabled":false,"info":""},{"id":"ff76d38c.6b537","type":"wirenboard-in","z":"b53e947a.0db5f","name":"Коэф. температурной кривой","server":"8da09053.5bb7e","channel":"/devices/thermo_reg/controls/K","outputAtStartup":true,"x":210,"y":80,"wires":[["adb9f240.b12da8"]]},{"id":"e5b8ee9e.70bc58","type":"wirenboard-in","z":"b53e947a.0db5f","name":"Температура на улице","server":"8da09053.5bb7e","channel":"/devices/BCG521/controls/OutsideTemperature","outputAtStartup":true,"x":190,"y":320,"wires":[["e85e6e89.39952","d1aa4655.1792d8"]]},{"id":"f9369df3.e31ae8","type":"wirenboard-in","z":"b53e947a.0db5f","name":"Желаемая температура в помещении","server":"8da09053.5bb7e","channel":"/devices/thermo_reg/controls/RoomTempSetpoint","outputAtStartup":true,"x":240,"y":140,"wires":[["4602a477.4b4ed4"]]},{"id":"71b579c7.7742f8","type":"wirenboard-in","z":"b53e947a.0db5f","name":"Авто/Ручной","server":"8da09053.5bb7e","channel":"/devices/thermo_reg/controls/enabled","outputAtStartup":true,"x":150,"y":260,"wires":[["e019f8d4.2804d8"]]},{"id":"e85e6e89.39952","type":"wirenboard-out","z":"b53e947a.0db5f","name":"","server":"8da09053.5bb7e","channel":"/devices/thermo_reg/controls/OutsideTemp","command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":770,"y":320,"wires":[]},{"id":"adb9f240.b12da8","type":"change","z":"b53e947a.0db5f","name":"flow.K","rules":[{"t":"set","p":"K","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[["68ce5213.de7f54"]]},{"id":"4602a477.4b4ed4","type":"change","z":"b53e947a.0db5f","name":"flow.RoomTempSetpoint","rules":[{"t":"set","p":"RoomTempSetpoint","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":140,"wires":[["5ad120cb.4e8c08"]]},{"id":"e019f8d4.2804d8","type":"change","z":"b53e947a.0db5f","name":"flow.enabled","rules":[{"t":"set","p":"enabled","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["16de9ef7.359511"]]},{"id":"dfd26632.5c40d8","type":"change","z":"b53e947a.0db5f","name":"flow.Setpoint","rules":[{"t":"set","p":"Setpoint","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":200,"wires":[["877541ad.f38b7"]]},{"id":"8404ed70.dfa5f","type":"wirenboard-in","z":"b53e947a.0db5f","name":"Уставка котловой температуры","server":"8da09053.5bb7e","channel":"/devices/BCG301MB/controls/OT_ControlSetpoint","outputAtStartup":true,"x":210,"y":200,"wires":[["dfd26632.5c40d8"]]},{"id":"68ce5213.de7f54","type":"debug","z":"b53e947a.0db5f","name":"K","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":710,"y":80,"wires":[]},{"id":"5ad120cb.4e8c08","type":"debug","z":"b53e947a.0db5f","name":"RoomTempSetpoint","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":750,"y":140,"wires":[]},{"id":"877541ad.f38b7","type":"debug","z":"b53e947a.0db5f","name":"Setpoint","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":720,"y":200,"wires":[]},{"id":"16de9ef7.359511","type":"debug","z":"b53e947a.0db5f","name":"enabled","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":720,"y":260,"wires":[]},{"id":"17c06496.182083","type":"function","z":"b53e947a.0db5f","name":"Вычисление температуры подачи по кривой","func":"var Kt = flow.get('K')\nvar RoomTempSetpoint = flow.get('RoomTempSetpoint')\nvar a = -((0.21) * Kt) - 0.06;\nvar b = 6.04 * Kt + 1.98;\nvar c = (-(5.06) * Kt) + 18.06;\nvar x = -0.2 * flow.get('Toutside') + 5\nvar Setpoint = a*x*x + b*x + c + (RoomTempSetpoint - 20) * 5\nSetpoint = parseFloat(Setpoint.toFixed(1))\nif (Setpoint > 80) {\n    Setpoint = 80\n}\nflow.set('Tboiler', Setpoint)\nif (global.get(\"HeatingRequest\") === 0 ) {\n    Setpoint = 20\n    }\nif (flow.get('enabled') === 1) {\n        msg.payload = Setpoint;\n        return msg;\n    }\n    else {\n        return [ null ]\n    }","outputs":1,"noerr":0,"x":540,"y":440,"wires":[["3d06272e.b9c17","408df5d8.2300a4"]]},{"id":"3a2b144b.1f59d4","type":"inject","z":"b53e947a.0db5f","name":"Каждую минуту","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":210,"y":440,"wires":[["17c06496.182083"]]},{"id":"d1aa4655.1792d8","type":"change","z":"b53e947a.0db5f","name":"flow.Toutside","rules":[{"t":"set","p":"Toutside","pt":"flow","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":380,"wires":[[]]},{"id":"3d06272e.b9c17","type":"debug","z":"b53e947a.0db5f","name":"Setpoint","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":820,"y":380,"wires":[]},{"id":"408df5d8.2300a4","type":"wirenboard-out","z":"b53e947a.0db5f","name":"","server":"8da09053.5bb7e","channel":"/devices/thermo_reg/controls/Setpoint","command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":860,"y":440,"wires":[]},{"id":"64122463.ae1524","type":"wirenboard-in","z":"b53e947a.0db5f","name":"","server":"8da09053.5bb7e","channel":"/devices/thermo_reg/controls/Setpoint","outputAtStartup":true,"x":170,"y":500,"wires":[["5ff75655.1807b"]]},{"id":"5ff75655.1807b","type":"wirenboard-out","z":"b53e947a.0db5f","name":"Уставка котловой температуры на шлюз","server":"8da09053.5bb7e","channel":"/devices/BCG301MB/controls/OT_ControlSetpoint","command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":540,"y":500,"wires":[]},{"id":"b19b47e.051b838","type":"wirenboard-out","z":"b53e947a.0db5f","name":"Отображение котловой темп. на ПУ-3","server":"8da09053.5bb7e","channel":"/devices/temp_11/controls/Outdoor temperature","command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":800,"y":560,"wires":[]},{"id":"6e26223a.314814","type":"wirenboard-in","z":"b53e947a.0db5f","name":"Счит. котловой температуры","server":"8da09053.5bb7e","channel":"/devices/BCG301MB/controls/OT_BoilerTemperature","outputAtStartup":true,"x":210,"y":560,"wires":[["b19b47e.051b838"]]},{"id":"a3d7fec9.c4aa1","type":"wirenboard-in","z":"b53e947a.0db5f","name":"Уставка комнатной темп. от ПУ-3","server":"8da09053.5bb7e","channel":"/devices/temp_11/controls/Temperature Set","outputAtStartup":true,"x":220,"y":620,"wires":[["a1763e72.08db3"]]},{"id":"a1763e72.08db3","type":"wirenboard-out","z":"b53e947a.0db5f","name":"Уст. комнатной темп. ПЗР","server":"8da09053.5bb7e","channel":"/devices/thermo_reg/controls/RoomTempSetpoint","command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":760,"y":620,"wires":[]},{"id":"8da09053.5bb7e","type":"wirenboard-server","name":"Wirenboard 6 Nevoton","host":"192.168.200.70","mqtt_port":"1883","mqtt_username":"","mqtt_password":""}]
